
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1" style=" margin-bottom: 1em;">Связаться с нами</h1>

    </div>
    <p>
        Наш телефон: 8-800-555-35-35<br />
        e-mail: info@company.com<br />
        Наш адрес: г. Екатеринбург, ул. 8 Марта 12А, оф. 605<br />
    </p>
</div>

    <!-- Start Map -->
<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/54/yekaterinburg/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Екатеринбург</a><a href="https://yandex.ru/maps/54/yekaterinburg/house/ulitsa_8_marta_12a/YkkYcw5pSUACQFtsfXRycn5iYQ==/?indoorLevel=1&ll=60.599055%2C56.833216&utm_medium=mapframe&utm_source=maps&z=16.99" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица 8 Марта, 12А — Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCU5EITd2B" width="100%" height="500" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    <!-- Ena Map -->