<a title="Вернуться в магазин" style="background-color: #e9eef5 !important; margin-top:15px; color:black;" class="btn btn-lg rounded-pill" href="@Url.Action("Index", "Shop")">&lt;</a>
<div style="margin-top:10%; margin-bottom:10%; text-align:center">
    <h1>Спасибо!</h1>
    <h4>Через несколько минут с вами свяжется наш специалист для подтверждения заказа</h4>
</div>
