<a title="Вернуться в магазин" style="background-color: #e9eef5 !important; margin-top:15px; color:black;" class="btn btn-lg rounded-pill" href="@Url.Action("Index", "Shop")">&lt;</a>
<div style="margin-top:10%; margin-bottom:10%; text-align:center">
    <h1>Спасибо!</h1>
    <h4>Для потверждения заказа вам прийдет письмо на почту</h4>
    <a style="margin-top:15px" class="btn btn-success" href="@Url.Action("Shop", "Index")">Продолжить покупку</a>
</div>
