@model Diplom.Models.Orders
@{
    ViewBag.Title = "Форма заказа";
    Diplom.Models.Entities db = new Diplom.Models.Entities();
}

<h2>Офрмить заказ</h2>
<p>Пожалуйста, введите ваши контактные данные.</p>

@using (Html.BeginForm())
{
    <h3>Данные</h3>

    <div class="form-group" style="margin-bottom:15px">
        <label>Ваш город: </label>
        @Html.DropDownListFor(x => x.id_City, ViewBag.idCity as SelectList)
    </div>

    <div class="form-group" style="margin-bottom:15px">
        <label>Ваш адрес: </label>
        @Html.TextBoxFor(x => x.Adress, new { @class = "form-control" })
    </div>

    <div class="form-group" style="margin-bottom:15px">
        <label>Цена за доставку: </label>
        
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-success btn-lg" name="submit" value="Оформить заказ" style="width:200px; margin-bottom:15px">Оформить заказ</button>
    </div>
}
